footer
  .friend-link
    .friend-link-wrapper.clearfix
      span 友情链接：
      .links
        a.link(title='产品快搜',href='http://www.cpkso.com' rel='nofollow',target='_blank') 产品快搜
  .footer
    .footer-info
      img(src='http://ev.cpkso.com/img/search-logo.png')
      .contact
        p 客服热线：
          span 0379-65171155
        p 工作时间：周一至周六 8:00-17:30 （法定节假日除外）
    .footer-link
      .site-link
        a.link(title='关于我们-产品快搜新能源电动车',href='/aboutus.html?id=aboutus',target='_blank') 关于我们
        a.link(title='联系我们-产品快搜新能源电动车',href='/aboutus.html?id=contactus',target='_blank') 联系我们
        a.link(title='会员特权服务-产品快搜新能源电动车',href='/aboutus.html?id=memberservice',target='_blank') 会员特权服务
        a.link(title='专业期刊-产品快搜新能源电动车',href='/aboutus.html?id=journal',target='_blank') 专业期刊
        a.link(title='商务合作-产品快搜新能源电动车',href='/aboutus.html?id=joinus',target='_blank') 商务合作
        a.link(title='服务条款-产品快搜新能源电动车',href='/aboutus.html?id=terms',target='_blank') 服务条款
        a.link(title='网站地图-产品快搜新能源电动车',href='/aboutus.html?id=sitemap',target='_blank') 网站地图
        a.link(title='在线付款-产品快搜新能源电动车',href='http://www.cpkso.cn',target='_blank') 在线付款
      .site-copyright
        p.copyright  网站备案号 豫ICP备16033713号-1
        p.copyright  洛阳焦点信息科技有限公司版权所有
        p.address  公司地址：河南省洛阳市洛龙区军威路1号6楼
    .footer-code
      .footer-code-wechat
        img(src='http://ev.cpkso.com/img/wechat.jpg')
        p 关注产品快搜网公众号
      .footer-code-mobile
        img(src='http://ev.cpkso.com/img/mobile.png')
        p 手机扫码打开产品快搜网
