meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
title= title
meta(name="keywords", content="产品快搜新能源电动车、老年代步车、电动车、电动车求购、电动车配件、产品快搜网")
meta(name="description", content="产品快搜新能源电动车网是国内最专业的新能源电动车咨询网站，拥有最全的电动车库、电动车配件库，提供权威的新能源电动车政策新闻、新能源电动车报价、新能源电动车配件等服务信息。是新能源电动车企业产品推广、品牌宣传、拓展市场、网络推广的第一选择。为你购买新能源电动车整车和配件提供专业的、有效的价值信息。")
meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
meta(name="applicable-device", content="pc")
meta(name="renderer", content="webkit")
meta(name="baidu-site-verification", content="VUAL7R3a2v")
link(rel='stylesheet', href='http://ev.cpkso.com/css/reset.css')
link(rel='stylesheet', href='http://ev.cpkso.com/css/bootstrap.min.css')
link(rel='stylesheet', href='http://ev.cpkso.com/css/base.css')
