nav.nav-wrapper
  ul.nav-list
    li(class={active: curnav==='index'})
      a(href='/', title='首页',target='_blank') 首页
    li(class={active: curnav==='news'})
      a(href='/news/', title='资讯',target='_blank') 资讯
    li(class={active: curnav==='cars'})
      a(href='/cars/', title='车型库',target='_blank') 车型库
    li(class={active: curnav==='parts'})
      a(href='/parts/', title='配件库',target='_blank') 配件库
    li(class={active: curnav==='infos'})
      a(href='/infos/', title='供求信息',target='_blank') 供求信息
    li(class={active: curnav==='companies'})
      a(href='/companies/', title='企业库',target='_blank') 企业库
    li
      a(href='http://www.cpkso.com', title='产品快搜', target='_blank') 返回产品快搜