nav.nav-wrapper
  ul.nav-list
    li(class={active: curnav==='index'})
      a(href='/', title='首页',target='_blank') 首页
    li(class={active: curnav==='news'})
      a(href='/aboutus/', title='关于我们',target='_blank') 关于我们
    li(class={active: curnav==='cars'})
      a(href='/course/', title='精品课程',target='_blank') 精品课程
    li(class={active: curnav==='parts'})
      a(href='/team/', title='名师团队',target='_blank') 名师团队
    li(class={active: curnav==='infos'})
      a(href='/state/', title='学校动态',target='_blank') 学校动态
    li(class={active: curnav==='companies'})
      a(href='/contactus/', title='联系我们',target='_blank') 联系我们
