extends com-layout

block content
  .banner
    if company.main_pic
      img(src='#{company.main_pic}')
    else
      img(src='http://ev.cpkso.com/img/index.jpg')
  .main-body
    .content-left
      include includes/com-intro.jade
      if comNews && comNews.length!==0
        include includes/com-trend.jade
      include includes/com-prods.jade
    .content-right
      include includes/com-cnt.jade
    