extends com-layout

block content
  .banner
    img(src='http://ev.cpkso.com/img/products.png')
  .main-body
    .content-left
      include includes/com-prods.jade
    .content-right
      include includes/com-cnt.jade
