.header .header-right>img{
	padding-right: 50px;
}


/* 覆盖bootstrap轮播图默认样式 */
@media screen and (min-width: 768px) {
	.carousel-indicators {
		bottom: 0;
	}
}
/* 大轮播图 */
#sliders .owl-dots{
	position: absolute;
	bottom: 10px;
	right: 5%;
}
#sliders .owl-dots span{
	border-radius: 0;
	margin: 4px;
	background-color: #fff;
	border: none;
	transform:rotate(-45deg);
	opacity: 1;
}
#sliders .owl-dots span:hover,
#sliders .owl-dot.active span{
	width: 12px;
	height: 12px;
	border: none;
	background-color: #da3a4d;
}
.main-body .section-content {
	width: 1260px;
	margin: 0 auto;
}
.main-body .section-content .content-header {
	text-align: center;
	margin: 20px 0;
	height: 142px;
}
@media screen and (min-width: 1200px) {
	.main-body .section-content .content-header {
		height: 106px;
	}
}
.intro {
	padding-bottom: 40px;
}
.intro .intro-img {
	float: left;
	margin-left: 30px;
}
.intro .intro-img img {
	width: 356px;
}
.intro .intro-container {
	margin-left: 380px;
	padding-left: 30px;
}
.intro .intro-title {
	font-size: 26px;
}
.intro .intro-content {
	font-size: 20px;
	line-height: 38px;
}

.course .content-body {
	width: 1200px;
	margin: 0 auto;
}
.course .kc {
	border-top: 2px dotted #bdbdbd;
}
.course .kc a img {
	width: 600px;
}
.course .course-contact {
	padding: 30px 0;
	border-top: 2px dotted #bdbdbd;
	border-bottom: 2px dotted #bdbdbd;
}
.course .course-contact .qrcode {
	float: left;
	margin-left: 24px;
}
.course .course-contact .qrcode img {
	width: 140px;
}
.course .contact-tel-container {
	margin: 0 0 0 190px;
	padding: 0;
}
.course .contact-tel-container .tel-lg {
	line-height: 56px;
	font-size: 40px;
	color: #ff393b;
}
.course .info-container {
	line-height: 36px;
	word-spacing: 10px;
}
.course .info-container .tel-sm-container {
	float: left;
	width: 300px;
}
.course .info-container .tel-sm-container .tel-sm {
	font-size: 20px;
	width: 300px;
}
.course .info-container .info {
	margin-left: 320px;
	font-size: 20px;
}
.course .info-container .info p {
	margin: 0;
}

.works, .highlights, .features {
	padding: 20px 0 40px;
	margin-top: 40px;
	font-size: 0;
	line-height: 0;
}

.works {
	background-color: #444;
}
.works .zs .zs-item {
	display: inline-block;
	margin: 8px 0 0 8px;
	width: 200px;
	height: 200px;
	overflow: hidden;
}
.works .zs img {
	/* width: 200px; */
	transition: all .3s;
	height: 100%;
	width: 100%;
}
.works .zs a:hover img {
	transform: scale(1.2);
}

.highlights {
	background-color: #fff0f7;
}
.highlights .hx, .features .fc {
	width: 1210px;
	margin: 0 auto;
}
.highlights .hx .hx-item {
	display: inline-block;
	width: 380px;
	height: 254px;
	overflow: hidden;
}
.highlights .hx .hx-item:first-child {
	float: left;
}
.highlights .hx .hx-item:first-child {
	width: 446px;
	height: 508px;
}
.highlights .hx .hx-item img {
	transition: all .3s;
	height: 100%;
	width: 100%;
}
.highlights .hx .hx-item:hover img {
	transform: scale(1.2);
}

.features .fc .fc-item {
	display: inline-block;
	overflow: hidden;
}
.features .fc .fc-sm {
	float: left;
	width: 450px;
}
.features .fc .fc-sm .fc-item {
	width: 450px;
	height: 270px;
}
.features .fc .fc-lg .fc-item {
	width: 380px;
	height: 540px;
}
.features .fc .fc-item img {
	transition: all .3s;
	height: 100%;
	width: 100%;
}
.features .fc .fc-item:hover img {
	transform: scale(1.2);
}
.features .fc .fc-item:nth-child(3),
.features .fc .fc-item:nth-child(4) {
	float: right;
}














































