.trend
  h4.com-title 最新动态
  if comNews
    .com-news
      ul.c-news-list
        each news in comNews
          li.c-news-item
            a.c-news-title(href='http://ev.cpkso.com/news/#{news.id}.html',target='_blank') #{news.title}
            span.c-news-date #{news.publish_time}
  else
    p 暂无动态