footer
  .footer-wrapper
    .footer-contact
      .footer-qrcode
        img(src='http://yzx.cpkso.cn/img/mobile/qrcode.png')
      .contact
        p.tel-title 胭脂雪咨询报名热线：
        p.tel #{contact.tel}
        p.phone #{contact.contact1}
        p.phone #{contact.contact2}
    .site-info
      p.address  学院地址：#{contact.address}
