nav.nav-wrapper
  ul.nav-list
    li(class={active: curnav==='index'})
      a(href='/', title='首页') 首页
    li(class={active: curnav==='news'})
      a(href='/aboutus/gsjj', title='关于我们') 关于我们
    li(class={active: curnav==='cars'})
      a(href='/course/rqkb', title='精品课程') 精品课程
    li(class={active: curnav==='parts'})
      a(href='/team/szll', title='名师团队') 名师团队
    li(class={active: curnav==='infos'})
      a(href='/state/xyhy', title='学校动态') 学校动态
    li(class={active: curnav==='companies'})
      a(href='/contactus/lxwm', title='联系我们') 联系我们
