@font-face {font-family: "iconfont";
	src: url('/font/iconfont.eot'); /* IE9*/
	src: url('/font/iconfont.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('/font/iconfont.woff') format('woff'), /* chrome, firefox */
	url('/font/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
	url('/font/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
	font-family:"iconfont" !important;
	font-size:16px;
	font-style:normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
}


a:hover{
	color: #da3a4d;
}
/* 头部 */
.header{
	height: 50px;
	line-height: 50px;
	width: 90%;
	margin: 0 auto;
}
.header .header-left{
	height: 80%;
	float: left;
}
.header .header-right{
	height: 64%;
	float: right;
}


img{
	max-height: 100%;
	max-width: 100%;
}

/* 导航区 */
.nav-wrapper{
	height: 36px;
	background-color: #464b4d;
}
.nav-list{
	display: flex;
	width: 100%;
	margin: 0 auto;
}
.nav-list li{
	flex: 1;
	line-height: 36px;
	text-align: center;
}
.nav-list li a{
	color: #fff;
	font-size: 12px;
}
.nav-list li a:hover{
	color: #da3a4d;
}
.nav-list li.active{
	background-color: #da3a4d;
}
.nav-list li.active a:hover{
	color: #fff;
}
.main-body{
	width: 100%;
}


/* tab标签样式 */
.nav-tabs {
	margin: 30px 0 20px;
	border-bottom: 1px solid #da3a4d;
}
.nav > li > a{
	padding: 5px 50px;
}
.nav-tabs > li > a{
	display: inline-block;
	margin-right: 0;
	text-align: center;
	font-size: 16px;
	border: none;
	color: #8c8c8c;
	background-color: transparent;
}
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus{
	border: none;
	color: #da3a4d;
	background-color: transparent;	
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
	border: none;
	border-radius: 0;
	color: #fff;
	background-color: #da3a4d;
}



/* 页尾 */
.footer-contact {
	display: flex;
	width: 70%;
	margin: 0 auto;
}
.footer-contact .footer-qrcode {
	flex: 1;
}
.footer-contact .contact {
	flex: 2;
	margin-left: 10px;
}
.footer-contact .contact p {
	margin-bottom: 0;
	line-height: 1.8;
}
.footer-contact .contact .tel-title {
	font-size: 12px;
}
.footer-contact .contact .tel {
	font-size: 16px;
	color: #ff728a;
}
.footer-contact .contact .phone {
	font-size: 10px;
}
.site-info .address {
	margin: 20px 0 0;
	text-align: center;
	font-size: 10px;
	line-height: 2;
	background-color: #4a4a4a;
	color: #fff;
}




#owl-lg {
    width: 1160px;
    margin-left: auto;
    margin-right: auto;
}
#owl-lg .item {
    display: block;
    margin: 5px;
}
#owl-lg img {
    display: block;
    width: 100%;
}
.owl-wrapper-outer {
	overflow: hidden;
}
.owl-theme .owl-controls .owl-pagination {
	display: none;
}




/**
 * Slider CSS
 */
.jc-slider {
    overflow: hidden;
    width: 100%;
}
.jc-slider * {
    box-sizing:border-box;
}
