/* 覆盖bootstrap轮播图默认样式 */
@media screen and (min-width: 768px) {
	.carousel-indicators {
		bottom: 0;
	}
}
/* 大轮播图 */
#sliders .owl-dots{
	position: absolute;
	bottom: 10px;
	right: 5%;
}
#sliders .owl-dots span{
	border-radius: 0;
	margin: 4px;
	background-color: #fff;
	border: none;
	transform:rotate(-45deg);
	opacity: 1;
}
#sliders .owl-dots span:hover,
#sliders .owl-dot.active span{
	width: 12px;
	height: 12px;
	border: none;
	background-color: #da3a4d;
}
.main-body .section-content {
	width: 100%;
}
.main-body .section-content .content-header {
	text-align: center;
}
.main-body .intro .content-body {
	display: flex;
	justify-content: center;
	margin: 14px auto;
}
.intro .intro-img {
	flex: 2;
}
.intro .intro-container {
	flex: 3;
	margin-left: 2%;
	padding: 6px;
	background-color: #5c5c5c;
	color: #fff;
	text-indent: 2em;
	text-align: justify;
}
.intro .intro-content {
	margin-bottom: 0;
	font-size: 10px;
	line-height: 1.2;
}

.course .content-body {
	width: 80%;
	margin: 10px auto;
}
.course .kc .kc-item {
	display: inline-block;
	padding: 14px 0;
	border-top: 2px dotted #bbb;
	border-bottom: 2px dotted #bbb;
}
.course .kc .kc-item:first-child {
	border-bottom: none;
}

.works, .highlights, .features {
	font-size: 0;
	line-height: 0;
}
.works .content-header,
.highlights .content-header,
.features .content-header {
	margin: 0;
}

.works .zs {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.works .zs .zs-item {
	margin-bottom: 6px;
	width: 24%;
}
.works .zs a:hover img {
	transform: scale(1.2);
}



.advantage .advan-item {
	padding: 14px 20px;
}
.advantage .advan-item-left {
	background-color: #4a4a4a;
	color: #fff;
}
.advantage .advan-item-right {
	color: #2d2d2d;
}
.advantage .advan-item img {
	width: 30%;
}
.advantage .advan-item-left img {
	float: left;
}
.advantage .advan-item-right img {
	float: right;
}
.advantage .advan-item-left .detail {
	margin-left: 34%;
}
.advantage .advan-item-right .detail {
	margin-left: 4%;
}
.advantage .advan-item .detail .title {
	margin-bottom: 0;
	font-size: 14px;
	line-height: 1.8;
}
.advantage .advan-item .detail .desc {
	font-size: 12px;
}
.advantage .advan-item-left .detail .title {
	color: #fdaa1e;
	border-bottom: 1px dashed #c6c6c6;
}
.advantage .advan-item-right .detail .title {
	color: #f8788f;
	border-bottom: 1px dashed #bbb;
}


.highlights {
	background-color: #fff0f7;
}
.highlights .hx .hx-item {
	display: inline-block;
	width: 31.5%;
	overflow: hidden;
}
.highlights .hx .hx-item:first-child {
	float: left;
}
.highlights .hx .hx-item:first-child {
	width: 37%;
}

.features .fc .fc-item {
	display: inline-block;
	overflow: hidden;
}
.features .fc .fc-sm {
	float: left;
	width: 37%;
}
.features .fc .fc-sm .fc-item {
	width: 100%;
	height: 50%;
}
.features .fc .fc-lg .fc-item {
	width: 31.5%;
}
.features .fc .fc-item:nth-child(3),
.features .fc .fc-item:nth-child(4) {
	float: right;
}














































