.main-body .main-content {
    margin: 50px auto;
}
.main-content {
    margin-top: 50px;
}
.main-content .article-container {
    width: 90%;
    margin: 0 auto;
}

.state-content {
    margin-top: 70px;
}
.state-content .main-img {
    width: 550px;
    margin: 0 auto;
}
.state-content .spec-list {
    width: 800px;
    margin: 0 auto;
    border-top: 2px dotted #c2c2c2;
}

.team-content {
    margin-top: 40px;
}
.team-content .list-content {
    display: flex;
    flex-wrap: wrap;
    margin-left: 30px;
}
.team-content .list-content .list-item {
    width: 260px;
    flex: 0 0 260px;
    margin: 0 0 20px 20px;
}

.state-content .main-img .pic-title {
    line-height: 48px;
    text-align: center;
    font-size: 16px;
    color: #404040;
}
#owl-sm {
    position: relative;
    width: 668px;
    margin: 10px auto 100px;
    padding-top: 30px;
}
#owl-sm .owl-nav .iconfont {
    font-size: 60px;
    position: absolute;
    top: 40px;
    color: #e5e5e5;
}
#owl-sm .owl-nav .owl-prev {
    left: -60px;
}
#owl-sm .owl-nav .owl-next {
    right: -60px;
}

.course-content {
    margin: 40px 0;
}
.course-content .courses {
    width: 800px;
    margin: 0 auto;
}
.course-content .courses .course {
    margin-bottom: 20px;
}

.apply-wrapper {
    width: 900px;
    margin: 70px auto;
}
.apply-wrapper label.control-label {
    font-size: 16px;
    color: #404040;
    font-weight: normal;
}
.apply-wrapper .form-control {
    border-radius: 0;
}