.main-body .main-content {
    margin: 20px auto;
}
.main-content {
    margin-top: 50px;
}
.main-content .article-container {
    width: 90%;
    margin: 0 auto;
}


.state-content .spec-list {
    width: 70%;
    margin: 0 auto;
}

.team-content {
    margin-top: 40px;
}
.team-content .list-content {
    display: flex;
    width: 84%;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-around;
}
.team-content .list-content .list-item {
    width: 42%;
    margin-bottom: 4%;
}

.state-content .main-img .pic-title {
    line-height: 48px;
    text-align: center;
    font-size: 16px;
    color: #404040;
}
#owl-sm {
    position: relative;
    margin: 10px auto 100px;
    padding-top: 30px;
}
#owl-sm .owl-nav .iconfont {
    font-size: 50px;
    position: absolute;
    top: 80px;
    color: #e5e5e5;
}
#owl-sm .owl-nav .owl-prev {
    left: -50px;
}
#owl-sm .owl-nav .owl-next {
    right: -50px;
}

.course-content {
    margin: 40px 0;
}
.course-content .courses {
    width: 90%;
    margin: 0 auto;
}
.course-content .courses .course {
    margin-bottom: 20px;
}

.apply-wrapper {
    width: 80%;
    margin: 70px auto;
}
.apply-wrapper label.control-label {
    font-size: 16px;
    color: #404040;
    font-weight: normal;
}
.apply-wrapper .form-control {
    border-radius: 0;
}